{% extends 'base_view.html' %}
{% block hdjl_view %}
<div class="Qcontent Qtotal hide">
  <div class="WzxftL clearfix">
    <!-- 在线访谈 -->
    <div class="Wzxft fl">
      <div class="Whead Qbottom">
        <a href="{{ url_for('interview_list') }}" target="_blank">更多</a>
        <span class="Wactive">
          <i style="cursor:pointer;">在线访谈</i><em
                class="Wlbj"></em><em class="Wrbj"></em>
        </span>
      </div>
      <div class="WzxftList fl">
        <dl>

          <dt><img src="/resource/tongbu/image/20200121/20200121135032447.jpg" alt=""></dt>
          <dd>
            <div class="WftTit"><a
                    href="{{ url_for('news', cate='interview', data=int9[0].id) }}">{{ int9[0].title }}</a></div>
            <p>{{ int9[0].content[:150] + '...' }}</p>
          </dd>

        </dl>
      </div>
      <div class="Wwqhg fl">
        <div class="Whead">
          <span class="Qguo">往期回顾</span>
        </div>
        <ul class="wqhgUl">
          {% for i9 in int9 %}
            <li><a href="{{ url_for('news', cate='interview', data=i9.id) }}"
                   target="_blank">{{ i9.title[: 14] + '...' }}</a>
            </li>
          {% endfor %}
          <li class="nobjLi"></li>
        </ul>
      </div>
    </div>
    <!-- 在线咨询 -->
    <div class="Wzxzx fl">
      <div class="Whead Qbottom">
        <a href="{{ url_for('consult') }}" target="_blank">更多</a>
        <span class="Wactive">
          <i style="cursor:pointer;">在线咨询</i>
          <em class="Wlbj"></em><em class="Wrbj"></em></span>
      </div>
      <div class="WzxzxList fl">

        {% for c in consult4 %}
          <div class="WzxzxQW">
            <div class="WzxTime">{{ c.ask_time }}</div>
            <p class="Wques" title="#">
              {{ c.question[:20] + '...' }}
            </p>
            <p class="Wansw" title="#">
              {{ c.answer[:25] + '...' }}
              <a href="{{ url_for('consult_show', id=c.id) }}" target="_blank">[详细]</a>
            </p>
          </div>
        {% endfor %}


      </div>
    </div>
  </div>
  <div class="WzxftR clearfix">
    <div class="Wtjcs fl">
      <div class="Whead Qbottom">
        <a href="{{ url_for('fqa') }}" target="_blank">更多</a>
        <span class="Wactive">
          <i style="cursor:pointer;" onclick="{{ url_for('fqa') }}">常见问题</i>
          <em class="Wlbj"></em>
          <em class="Wrbj"></em>
        </span>
      </div>
      <div class="QrightHdiv">
        <ul class="QnewsUl">
          {% for j in fqa %}
            <li><span>{{ j.datetime }}</span><a href="{{ url_for('news', cate='fqa', data=j.id) }}"
                                                target="_blank">{{ j.title[:6] + '...' }}</a></li>
          {% endfor %}

        </ul>
      </div>
    </div>
    <!-- 领导信箱 -->
    <div class="WjgzzList fl">
      <ul>
        <li class="fl">
          <a class="ldxxIcon" href="{{ url_for('mail') }}" target="_blank">
            <p>领导信箱</p>
          </a>
        </li>
        <li class="fr">
          <a class="zxzxIcon" href="{{ url_for('consult') }}" target="_blank">
            <p>在线咨询</p>
          </a>
        </li>
        <li class="lastLi fl">
          <a class="jbxxIcon" href="{{ url_for('report') }}" target="_blank">
            <p>统计局统计违法举报信箱</p>
          </a>
        </li>
      </ul>
    </div>
    <!-- 网上调查 -->
    <div class="Wwsdc fl">
      <div class="Whead Qbottom">
        <a href="#" target="_blank">更多</a><span class="Wactive">
        <i style="cursor:pointer;" onclick="window.open('/id_wsdc201803120101254971/column.shtml')">网上调查</i>
        <em class="Wlbj"></em><em class="Wrbj"></em></span>
      </div>
      <div class="myzj_ul">
        <ul class="myul">
          {% for t in theme3 %}
            <li id="{{ t.account }}" class="jxLi">
              <span style="color: #0c90cc">{{ t.state }}</span>
              <a href="#" target="_blank">{{ t.title[: 9] + '...' }}</a>
            </li>
          {% endfor %}
        </ul>

      </div>
    </div>
  </div>
</div>
{% endblock %}