<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1 ">
  <title>江西省统计局</title>
  <link href="/static/css/default.css" rel="stylesheet" type="text/css">
  <script src="/static/js/jquery-1.11.3.min.js"></script>
  <script src="/static/js/responsiveslides.min.js"></script>
  <script src="/static/js/jquery.kxbdMarquee.js"></script>
  <script src="/static/js/echarts.js"></script>
  <script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/assets/prompt.js"></script>
</head>

<body id="maincontainer" onload="show()">
<!--<div style="height:215px; background:url(/resource/uploadfile/image/20190930/20190930111619398.jpg) no-repeat center top;"></div>-->


<div class="QScenbox">
  <div class="Qlogo fl"><img src="/static/img/Qlogo.png" alt=""></div>
  <div class="Qsearch fr">
    <form action="/search_list/" method="post">
      <input id="ss-k" name="ss-k" type="text" class="fl" placeholder="请输入关键字">
      <span class="Qsou fr" type="submit"> </span>
    </form>
  </div>
</div>
<ul class="Qnav">
  <li class="Qcurrent"><a href="{{ url_for('home') }}" class="Qa1">首页</a></li>
  <li id="zwgk201803120100392355" class=""><a href="{{ url_for('home') }}" class="Qa2">政务公开</a></li>
  <li id="tjsj201803120100294255" class=""><a href="{{ url_for('home') }}" class="Qa3">统计数据</a></li>
  <li id="wsbs201803120100172099" class=""><a href="{{ url_for('home') }}" class="Qa4">网上办事</a></li>
  <li id="hdjl201803120059532727"><a href="{{ url_for('home') }}" class="Qa5">互动交流</a></li>
</ul>
<script>


    function gowza() {
        window.open("http://www.jxgtt.gov.cn/Column.shtml?p5=20000274");
    }
</script>
<!-- 首页内容 -->
{% block home_view %}{% endblock %}
<div class="Qcontent">
  <div class="Qfrist">
    <div class="Qfristdiv fl">
      <a href="/id_yqgz201807051700303283/column.shtml" target="_blank">
        <img src="../static/img/Qhot.png" alt="">
      </a>
    </div>
    <div class="Qhotnews fr">
      <h3><a href="{{ url_for('news', cate='work', data=work12[0].id) }}"
             target="_blank">{{ work12[0].title[:27] + '...' }}</a>
      </h3>
      <ul class="QhotUl">
        <li style="display: none;"><a href="{{ url_for('news', cate='work', data=work12[0].id) }}"
                                      target="_blank">{{ work12[0].title }}</a>
        </li>
        <li><a href="{{ url_for('news', cate='work', data=work12[1].id) }}"
               target="_blank">[ {{ work12[1].title[:23] + '...' }} ]</a>
        </li>
        <li><a href="{{ url_for('news', cate='work', data=work12[2].id) }}"
               target="_blank">[ {{ work12[2].title[:23] + '...' }}] </a>
        </li>
      </ul>
      <script>
          $('.QhotUl li:first').hide();
      </script>
    </div>
  </div>


  <!--<div style="width:960px; height:86px; margin-top:8px"><img src="/resource/uploadfile/image/20190130/20190130150730441.jpg" alt=""></div>-->


  <div class="Qcfrow">
    <!-- 图片轮播新闻 -->
    <div class="Qleft fl">
      <ul class="rslides centered-btns centered-btns1" id="dowebok">

        <li id="centered-btns1_s0" class=""
            style="display: block; float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 500ms ease-in-out 0s;">
          <a href="/id_8a84cc836bdf3c5d016cbc868f306c74/news.shtml" target="_blank"><img
                  src="/resource/tongbu/image/20190823/20190823093409753.jpg" alt="" width="620" height="388"></a>
          <p><a href="/id_8a84cc836bdf3c5d016cbc868f306c74/news.shtml">宁吉喆在江西调研指导，要求新时代统计调查人要饮水思...</a></p>
        </li>

        <li id="centered-btns1_s1" class=""
            style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 500ms ease-in-out 0s;">
          <a href="/id_8a84cc836560a1d301661a62cdb9410d/news.shtml" target="_blank"><img
                  src="/resource/tongbu/image/20180927/20180927155232812.jpg" alt="" width="620" height="388"></a>
          <p><a href="/id_8a84cc836560a1d301661a62cdb9410d/news.shtml">省委副书记、代省长易炼红到省统计局调研并强调：领导...</a></p>
        </li>

        <li id="centered-btns1_s2" class=""
            style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 500ms ease-in-out 0s;">
          <a href="/id_8a84cc836ee526b7016fc6b7fd706ac5/news.shtml" target="_blank"><img
                  src="/resource/tongbu/image/20200121/20200121135032447.jpg" alt="" width="620" height="388"></a>
          <p><a href="/id_8a84cc836ee526b7016fc6b7fd706ac5/news.shtml">2019年全省经济运行情况新闻发布会召开</a></p>
        </li>

        <li id="centered-btns1_s3" class="centered-btns1_on"
            style="float: left; position: relative; opacity: 1; z-index: 2; display: list-item; transition: opacity 500ms ease-in-out 0s;">
          <a href="/id_8a84cc836ee526b7016f9ede9ebb4569/news.shtml" target="_blank"><img
                  src="/resource/tongbu/image/20200113/20200113191800269.jpg" alt="" width="620" height="388"></a>
          <p><a href="/id_8a84cc836ee526b7016f9ede9ebb4569/news.shtml">2020年全省统计系统文艺汇演在南昌举行</a></p>
        </li>

        <li id="centered-btns1_s4" class=""
            style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 500ms ease-in-out 0s;">
          <a href="/id_8a84cc836ee526b7016f9e207f304204/news.shtml" target="_blank"><img
                  src="/resource/tongbu/image/20200113/20200113170359311.jpg" alt="" width="620" height="388"></a>
          <p><a href="/id_8a84cc836ee526b7016f9e207f304204/news.shtml">全省统计工作会议在南昌召开</a></p>
        </li>

      </ul>
      <ul class="centered-btns_tabs centered-btns1_tabs">
        <li class="centered-btns1_s1"><a href="#" class="centered-btns1_s1">1</a></li>
        <li class="centered-btns1_s2"><a href="#" class="centered-btns1_s2">2</a></li>
        <li class="centered-btns1_s3"><a href="#" class="centered-btns1_s3">3</a></li>
        <li class="centered-btns1_s4 centered-btns_here"><a href="#" class="centered-btns1_s4">4</a></li>
        <li class="centered-btns1_s5"><a href="#" class="centered-btns1_s5">5</a></li>
      </ul>
      <ul class="centered-btns_tabs centered-btns1_tabs">
        <li class="centered-btns1_s1"><a href="#" class="centered-btns1_s1">1</a></li>
        <li class="centered-btns1_s2"><a href="#" class="centered-btns1_s2">2</a></li>
        <li class="centered-btns1_s3 centered-btns_here"><a href="#" class="centered-btns1_s3">3</a></li>
        <li class="centered-btns1_s4"><a href="#" class="centered-btns1_s4">4</a></li>
        <li class="centered-btns1_s5"><a href="#" class="centered-btns1_s5">5</a></li>
      </ul>
      <ul class="centered-btns_tabs centered-btns1_tabs">
        <li class="centered-btns1_s1"><a href="#" class="centered-btns1_s1">1</a></li>
        <li class="centered-btns1_s2"><a href="#" class="centered-btns1_s2">2</a></li>
        <li class="centered-btns1_s3"><a href="#" class="centered-btns1_s3">3</a></li>
        <li class="centered-btns1_s4 centered-btns_here"><a href="#" class="centered-btns1_s4">4</a></li>
        <li class="centered-btns1_s5"><a href="#" class="centered-btns1_s5">5</a></li>
      </ul>
      <ul class="centered-btns_tabs centered-btns1_tabs">
        <li class="centered-btns1_s1"><a href="#" class="centered-btns1_s1">1</a></li>
        <li class="centered-btns1_s2"><a href="#" class="centered-btns1_s2">2</a></li>
        <li class="centered-btns1_s3"><a href="#" class="centered-btns1_s3">3</a></li>
        <li class="centered-btns1_s4 centered-btns_here"><a href="#" class="centered-btns1_s4">4</a></li>
        <li class="centered-btns1_s5"><a href="#" class="centered-btns1_s5">5</a></li>
      </ul>
      <ul class="centered-btns_tabs centered-btns1_tabs">
        <li class="centered-btns1_s1"><a href="#" class="centered-btns1_s1">1</a></li>
        <li class="centered-btns1_s2"><a href="#" class="centered-btns1_s2">2</a></li>
        <li class="centered-btns1_s3 centered-btns_here"><a href="#" class="centered-btns1_s3">3</a></li>
        <li class="centered-btns1_s4"><a href="#" class="centered-btns1_s4">4</a></li>
        <li class="centered-btns1_s5"><a href="#" class="centered-btns1_s5">5</a></li>
      </ul>
    </div>
    <!-- 动态要情 通知公告 -->
    <div class="Qright fr dttzDIv">
      <div class="QrightHead">
        <span class="Qguo Qactive">
          <a class="ccc" href="{{ url_for('work_list') }}">工作动态</a>
        </span>
      </div>

      <div class="QrightHdiv">
        <ul class="QnewsUl">
          {% for i in work12 %}
            <li>
              <span>{{ i.datetime }}</span>
              <a href="{{ url_for('news', cate='work', data=i.id) }}"
                 target="_blank">{{ i.title[: 10] + '...' }}</a>
            </li>
          {% endfor %}

        </ul>

      </div>


    </div>
  </div>

  <div class="Qcfrow">
    <!-- 统计数据 -->
    <div class="Qleft fr" style="width:48%;">
      <div class="QrightHead Qbottom">
        <span class="Qguo Qactive">
          <a class="ccc" href="{{ url_for('interview_list') }}">在线访谈</a>
        </span>
      </div>

      <div class="QrightHdiv">
        <div class="Qtab">
          <ul class="QnewsBold fl" style="width: 100%;">
            {% for t in int9 %}
              <li><span>{{ t.datetime }}</span><a href="{{ url_for('news', cate='interview', data=t.id) }}"
                                                  target="_blank">{{ t.title[:23] + '...' }}</a>
            {% endfor %}

          </ul>

        </div>
      </div>


    </div>


    <div class="HHright fl" style="width: 48%;">
      <div class="QrightHead Qbottom">
        <span class="Qguo Qactive">
          <a class="ccc" href="id_tjfx201803120104475347/column.shtml">统计制度</a>
        </span>
      </div>
      <div class="QrightHdiv">
        <ul class="QnewsBold">

          <li><span>02-18</span><a href="/id_8a84cc836ee526b70170575278137ed8/news.shtml" target="_blank">2019年全省规上工业单位成本继续减少</a>
          </li>

          <li><span>02-18</span><a href="/id_8a84cc836ee526b70170575259f77ed5/news.shtml" target="_blank">2019年全省规上工业利润总额有所放缓</a>
          </li>

          <li><span>02-18</span><a href="/id_8a84cc836ee526b70170575238e57ed2/news.shtml" target="_blank">2019年全省规上工业营业收入同比增长6.6%</a>
          </li>

          <li><span>02-04</span><a href="http://www.stats.gov.cn/tjsj/zxfb/202001/t20200131_1724782.html"
                                   target="_blank">2020年1月中国采购经理指数运行情况</a></li>

          <li><span>01-23</span><a href="http://www.stats.gov.cn/tjsj/zxfb/202001/t20200121_1724242.html"
                                   target="_blank">2018年全国文化及相关产业增加值占GDP比重为4.48...</a></li>

          <li><span>01-17</span><a href="http://www.stats.gov.cn/tjsj/zxfb/202001/t20200117_1723396.html"
                                   target="_blank">2019年居民收入和消费支出情况</a></li>

          <li><span>01-16</span><a href="http://www.stats.gov.cn/tjsj/zxfb/202001/t20200109_1721984.html"
                                   target="_blank">2019年12月份全国居民消费价格同比上涨4.5%</a></li>

          <li><span>01-10</span><a href="/id_8a84cc836ee526b7016f8e20c1bd0a5d/news.shtml" target="_blank">1-12月全省公路货运、港口货物吞吐量稳步增长</a>
          </li>

          <li><span>12-27</span><a href="/id_8a84cc836ee526b7016f462b79193dea/news.shtml" target="_blank">1-11月江西快递业保持平稳较快增长</a>
          </li>

        </ul>


      </div>

    </div>
  </div>
  <div class="Qthrid">
    <div class="Qleft fl">
      <div class="QrightHead Qbottom">
        <span class="Qactive">网上办事<!-- 办事服务 --></span>

      </div>
      <div class="QTdiv">
        <p class="QTdiv1 fl">
          <a href="http://www.jxzwfww.gov.cn/jxzw/xzql/gotoxzqlIndex.do?webId=1" target="_blank">权力清单</a>

        </p>
        <p class="QTdiv2 fr">
          <a href="{{ url_for('organization_list') }}" target="_blank">组织结构</a>

        </p>
      </div>
      <div class="QDdiv">
        <ul class="QDdivul">
          <li id="Qd1"><a href="{{ url_for('integration', cate='procedure') }}" target="_blank"><!-- 办事程序 -->审批程序</a>
          </li>
          <li id="Qd2"><a href="http://www.jxstj.gov.cn/id_tjzd201803120105027398/column.shtml"
                          target="_blank">文件下载</a></li>
          <li id="Qd3"><a href="{{ url_for('integration', cate='table') }}" target="_blank"><!-- 表格下载 -->表格下载</a>
          </li>
          <li id="Qd4"><a href="{{ url_for('integration', cate='notice') }}" target="_blank"><!-- 审批公告 -->审批公告</a>
          </li>
          <li id="Qd5" style="border-right: none;"><a href="{{ url_for('integration', cate='relatives') }}"
                                                      target="_blank">有关文件</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="Qright fr">
      <div class="QrightHead Qbottom">
        <span class="Qactive">	<!-- 互动交流 -->互动交流</span>
      </div>
      <div class="Qhddiv">
        <ul class="hdUl">
          <li><a href="{{ url_for('mail') }}" target="_blank" id="hd1">
            领导信箱</a>
          </li>
          <li class="odd"><a href="{{ url_for('survey_theme') }}" target="_blank" id="hd2">
            网上调查</a>
          </li>
          <li><a href="{{ url_for('interview_list') }}" target="_blank" id="hd3">在线访谈</a>
          </li>
          <li class="odd"><a href="{{ url_for('consult') }}" target="_blank" id="hd4">
            在线咨询</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- 首页内容结束 -->

<!-- 政务公开内容 -->
{% block zwgk_view %}{% endblock %}
<div class="Qcontent Qtotal hide">
  <div class="WzwgkL clearfix">
    <!-- 领导介绍 -->
    <div class="Wldjs fl">
      <div class="Whead Qbottom">
        <span class="Wactive"><a style="color:#FFFFFF; font-size:16px;" href="{{ url_for('leader_intro') }}"
                                 target="_blank">领导介绍</a><!-- 领导介绍 --><em class="Wlbj"></em><em
                class="Wrbj"></em></span>
      </div>
      <div class="WldjsList fl">
        <ul>
          {% for l in leader %}
            <li class="oddLi">
              <a href="{{ url_for('leader_intro') }}"
                 target="_blank">{{ l.name }}</a><span>|</span>{{ l.title }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- 机构职责 -->
    <div class="WjgzzList fl">
      <ul>
        <li class="fl">
          <a class="zyzzIcon" href="{{ url_for('main_responsibility') }}" target="_blank"><p><!-- 主要职责 -->
            主要职责</p></a>
        </li>
        <li class="fr">
          <a class="jgszIcon" href="{{ url_for('organization_list') }}" target="_blank"><p><!-- 机构设置 -->
            组织结构</p></a>
        </li>
        <li class="fl">
          <a class="qlqdIcon" href="http://www.jxzwfww.gov.cn/jxzw/xzql/gotoxzqlIndex.do?webId=1"
             target="_blank"><p>
            <!-- 权力清单 -->权力清单</p></a>
        </li>
        <li class="fr">
          <a class="zrqdIcon" href="/" target="_blank"><p><!-- 责任清单 -->人事变动</p></a>
        </li>
      </ul>
    </div>

  </div>
  <div class="WzwgkR clearfix">
    <!-- 动态详情、要情关注 -->
    <div class="Qright yqgzDIv fl" style="
    width: 677px;
">
      <div class="QrightHead" style="
    width: 677px;
">
        <span class="Qactive"><a class="ccc" href="{{ url_for('work_list') }}" target="_blank">工作动态</a>
          <!-- 动态要情 --></span>

      </div>
      <div class="QrightHdiv">
        {% for w in work %}
          <ul class="QnewsUl">
            <li><span>{{ w.datetime }}</span><a href="{{ url_for('news', cate='work', data=w.id) }}"
                                                target="_blank">{{ w.title[: 30] + '...' }}</a></li>
          </ul>
        {% endfor %}
      </div>
    </div>

    <!-- 通知中公告 -->

    <div class="imgLink fl">
      <a href="list.html" target="_blank"><p class="fl">
        <span><!-- 专题聚焦 -->专题聚焦</span></p></a>
      <a href="list.html" target="_blank"><i class="map fr"><span><!-- 统计文化 -->减税降费</span></i></a>
    </div>
    <!-- 政务信息公开专栏 -->

    <!-- 财政资金 -->
    <div class="Qzwgl fr" style="
    width: 677px;
">
      <div class="Qnotic fl">
        <p class="fl"><a href="{{ url_for('fund_list') }}" target="_blank">财政资金<!-- 财政资金 --></a>
        </p>
        <ul class="QzwUl fl" style="width: 583px;">
          {% for f in fund %}
            <li style="width: 583px;"><a href="{{ url_for('news', cate='fund', data=f.id) }}"
                                         target="_blank">{{ f.title[: 30] + '...' }}</a>
            </li>
          {% endfor %}

        </ul>
      </div>
    </div>
    <!-- 法律法规与解读 -->
    <div class="Wzcfgjd fl">
      <div class="Whead Qbottom">
        <span class="Wactive"><!-- 法律法规与解读 -->
          <a style="color:#FFFFFF; font-size:16px;" href="#" target="_blank">法律法规与解读</a>
          <em class="Wlbj"></em><em class="Wrbj"></em>
        </span>
      </div>
      <div class="WzcfgjdList fl">
        <ul>

          <li>
            <a class="gfxwjIcon" href="{{ url_for('law_comprehension', cate='file') }}" target="_blank"><p>
              <!-- 规范性文件 -->规范性文件</p></a>
          </li>


          <li>
            <a class="xgflfgIcon" href="{{ url_for('law_comprehension', cate='law') }}" target="_blank"><p>
              <!-- 相关法律法规 -->相关法律法规</p></a>
          </li>


          <li>
            <a class="zcjdIcon" href="{{ url_for('law_comprehension', cate='policy') }}" target="_blank"><p>
              <!-- 政策解读 -->政策解读</p></a>
          </li>


        </ul>
      </div>
    </div>
    <!-- 江西省情 -->
    <div class="Wjxsq fl">
      <div class="Whead Qbottom">
                <span class="Wactive"><a style="color:#FFFFFF; font-size:16px;" href="/" target="_blank">江西省情</a>
                  <!-- 江西省情 --><em class="Wlbj"></em><em class="Wrbj"></em></span>
      </div>
      <div class="WjxsqList fl">
        <ul>
          <li><a href="{{ url_for('news', cate='circumstance', data='地理气候') }}" target="_blank"><img
                  src="../static/img/Wzwgk_76.png" alt="">
            <p><!-- 地理气候 -->地理气候</p></a></li>
          <li><a href="{{ url_for('news', cate='circumstance', data='自然资源') }}"><img
                  src="../static/img/Wzwgk_78.png"
                  alt="">
            <p><!-- 自然资源 -->自然资源</p></a></li>
          <li><a href="{{ url_for('news', cate='circumstance', data='发展概况') }}"><img
                  src="../static/img/Wzwgk_80.png"
                  alt="">
            <p><!-- 发展概况 -->发展概况</p></a></li>
          <li><a href="{{ url_for('news', cate='circumstance', data='经济发展') }}"><img
                  src="../static/img/Wzwgk_83.png"
                  alt="">
            <p><!-- 经济发展 -->经济发展</p></a></li>
          <li><a href="{{ url_for('news', cate='circumstance', data='社会发展') }}"><img
                  src="../static/img/Wzwgk_85.png"
                  alt="">
            <p><!-- 社会发展 -->社会发展</p></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- 政务公开内容结束 -->

<!-- 统计数据内容 -->
{% block tjsu_view %}{% endblock %}
<div class="Qcontent Qtotal hide">
  <div class="QtotalLeft fl">


    <!-- 统计年鉴 -->


    <!-- 进度数据 -->
    <div class="totalBox totaldiv1" style="margin-top: 19px;">
      <div class="QrightHead Qbottom">
        <span class="Qspan Qactive"><!-- 进度数据 -->
          <a class="ccc" href="{{ url_for('data', cate='jx') }}" target="_blank">本省数据</a>
        </span>
        <p class="Qp2"><a href="{{ url_for('data', cate='cn') }}" target="_blank"><!-- 全国数据 --> 全国数据 /</a></p>
        <p class="Qp2 Qte"><a href="{{ url_for('data', cate='global') }}" target="_blank">
          <!-- 国际数据 -->国际数据</a></p>
      </div>
      <div class="QrightHdiv">
        <div class="Qtab">
          <ul class="QnewsUl fl">
            {% for jx in jx_data5 %}
              <li><span>{{ jx.datetime }}</span><a href="{{ jx.file }}"
                                                   target="_blank">{{ jx.title[:30] + '...' }}</a>
              </li>
            {% endfor %}

          </ul>
        </div>
      </div>
    </div>

    <!-- 统计制度 -->
    <div class="totalBox" style="margin-top: 19px;">
      <div class="QrightHead Qbottom">
        <span class="Qspan Qactive">
          <a class="ccc" href="{{ url_for('integration', cate='sys') }}" target="_blank">统计制度</a></span>
      </div>

      <ul class="QnewsUl fl">
        {% for s in system5 %}
          <li><span>{{ s.datetime }}</span><a href="{{ url_for('news', cate='sys', data=s.id) }}"
                                              target="_blank">{{ s.title[:30] + '...' }}</a>
          </li>
        {% endfor %}

      </ul>
    </div>


  </div>
  <div class="QtotalRight fr">
    <div class="Qtotaldiv1">
      <div class="QrightHead">
        <span class="Qspan Qactive"><!-- 统计公报 --><a class="ccc" href="#"
                                                    target="_blank">统计公报</a></span>
      </div>
      <ul>
        <li><a href="/id_jxstjgb201803120108328842/column.shtml" target="_blank">
          <img src="/static/img/Qt1.jpg" alt=""></a><!-- 江西省统计公报 -->
        </li>
        <li><a href="/id_jxspcgb201803120108245294/column.shtml" target="_blank">
          <img src="/static/img/Qt2.jpg" alt=""></a><!-- 江西省普查公报 -->
        </li>
        <li><a href="/id_gjtjgb201803120109143181/column.shtml" target="_blank">
          <img src="/static/img/Qt4.jpg" alt=""></a><!-- 国家统计公报 -->
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- 统计数据内容结束 -->

<!-- 网上办事内容 -->
{% block wsbs_view %}{% endblock %}
<div class="Qcontent Qtotal hide">
  <div class="WwsbsL clearfix">
    <div class="Wtjks clearfix">
    </div>
    <div class="Wswdcrz">
      <div class="Whead Qbottom">
        <span class="Wactive">
          <i style="cursor:pointer;"
             onclick="window.open('/id_swdcjgzgrz201803120103518569/column.shtml')">涉外调查机构资格认证</i>
          <em class="Wlbj"></em><em class="Wrbj"></em></span>
      </div>
      <div class="QrightHead">
        <p class="Qp2"><a href="/id_swdcjgzgrz201803120103518569/column.shtml" target="_blank">全部/</a></p>
        <p class="Qp2"><a href="/id_ygwj201803120130262472/column.shtml" target="_blank"><!-- 有关文件 -->有关文件 /</a>
        </p>
        <!--<p class="Qp2"><a href="http://www.jxzwfww.gov.cn/jxzw/czbm/index.do?webId=1&orgCode=3600000029" target="_blank">-->
        <!-- 审批程序 --><!--审批程序 /</a></p>-->
        <p class="Qp2"><a href="/id_bgxz201803120130085093/column.shtml" target="_blank"><!-- 表格下载 -->表格下载 /</a>
        </p>
        <p class="Qp2"><a href="/id_wssp201803120130005619/column.shtml" target="_blank"><!-- 网上审批 -->网上审批 /</a>
        </p>
        <p class="Qp2 Qte"><a href="/id_ztcx201803120129501815/column.shtml" target="_blank"><!-- 状态查询 -->状态查询
          /</a></p>
        <p class="Qp2"><a href="/id_spgg201803120129405870/column.shtml" target="_blank"><!-- 审批公告 -->审批公告</a>
        </p>
      </div>
      <!-- 全部 -->
      <div class="QrightHdiv hide">
        <ul class="QnewsUl">
          {% for q5 in qua5 %}
            <li>
              <span>{{ q5.datetime }}</span>
              <a href="{{ url_for('news', cate='qualification', data=q5.id) }}"
                 target="_blank">{{ q5.title[:28] + '...' }}</a>
            </li>
          {% endfor %}

        </ul>
      </div>
      <!-- 有关文件 -->
      <div class="QrightHdiv hide">
        <ul class="QnewsUl">
          {% for qr5 in qua_real5 %}
            <li>
              <span>{{ qr5.datetime }}</span>
              <a href="{{ url_for('news', cate='qualification', data=qr5.id) }}"
                 target="_blank">{{ qr5.title[:28] + '...' }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <!-- 表格下载 -->
      <div class="QrightHdiv hide">
        <ul class="QnewsUl">
          {% for qt5 in qua_tab5 %}
            <li>
              <span>{{ qt5.datetime }}</span>
              <a href="{{ url_for('news', cate='qualification', data=qt5.id) }}"
                 target="_blank">{{ qt5.title[:28] + '...' }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <!-- 网上审批 -->
      <div class="QrightHdiv hide">
        <ul class="QnewsUl">
          {% for qe5 in qua_exam5 %}
            <li>
              <span>{{ qe5.datetime }}</span>
              <a href="{{ url_for('news', cate='qualification', data=qe5.id) }}"
                 target="_blank">{{ qe5.title[:28] + '...' }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <!-- 状态查询 -->
      <div class="QrightHdiv">
        <ul class="QnewsUl">
          {% for qs5 in qua_state5 %}
            <li>
              <span>{{ qs5.datetime }}</span>
              <a href="{{ url_for('news', cate='qualification', data=qs5.id) }}"
                 target="_blank">{{ qs5.title[:28] + '...' }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <!-- 审批公告 -->
      <div class="QrightHdiv hide">
        <ul class="QnewsUl">
          {% for qn5 in qua_noti %}
            <li>
              <span>{{ qn5.datetime }}</span>
              <a href="{{ url_for('news', cate='qualification', data=qn5.id) }}"
                 target="_blank">{{ qn5.title[:28] + '...' }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- 涉外调查项目审批 -->
    <div class="Wswdcsp">
      <div class="Whead Qbottom">
        <span class="Wactive"><!-- 涉外调查项目审批 --><i
                style="cursor:pointer;"
                onclick="window.open('/id_swdcxmsp201803120103425407/column.shtml')">涉外调查项目审批</i><em
                class="Wlbj"></em><em
                class="Wrbj"></em></span>
      </div>
      <div class="QrightHead">
        <p class="Qp2">
          <a href="/id_swdcxmsp201803120103425407/column.shtml" target="_blank">全部/</a>
        </p>
        <p class="Qp2">
          <a href="/id_ygwj201803120132314287/column.shtml" target="_blank">有关文件 /</a>
        </p>
        <p class="Qp2 Qte">
          <a href="/id_bgxz201803120132063842/column.shtml" target="_blank">表格下载/</a>
        </p>
        <p class="Qp2">
          <a href="/id_wssp201803120132004573/column.shtml" target="_blank">网上审批 /</a>
        </p>
        <p class="Qp2">
          <a href="/id_ztcx201803120131545478/column.shtml" target="_blank">状态查询 /</a>
        </p>
        <p class="Qp2">
          <a href="/id_spgg201803120131424428/column.shtml" target="_blank">审批公告 </a>
        </p>
      </div>
      <!-- 全部 -->
      <div class="QrightHdiv hide">
        <ul class="QnewsUl">
          {% for e5 in exam5 %}
            <li>
              <span>{{ e5.datetime }}</span>
              <a href="{{ url_for('news', cate='qualification', data=e5.id) }}"
                 target="_blank">{{ e5.title[:28] + '...' }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <!-- 有关文件 -->
      <div class="QrightHdiv hide">
        <ul class="QnewsUl">
          {% for er5 in exam_real5 %}
            <li>
              <span>{{ er5.datetime }}</span>
              <a href="{{ url_for('news', cate='qualification', data=er5.id) }}"
                 target="_blank">{{ er5.title[:28] + '...' }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <!-- 表格下载 -->
      <div class="QrightHdiv">
        <ul class="QnewsUl">
          {% for et5 in exam_tab5 %}
            <li>
              <span>{{ et5.datetime }}</span>
              <a href="{{ url_for('news', cate='qualification', data=et5.id) }}"
                 target="_blank">{{ et5.title[:28] + '...' }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <!-- 网上审批 -->
      <div class="QrightHdiv hide">
        <ul class="QnewsUl">
          {% for ee5 in exam_exam5 %}
            <li>
              <span>{{ ee5.datetime }}</span>
              <a href="{{ url_for('news', cate='qualification', data=ee5.id) }}"
                 target="_blank">{{ ee5.title[:28] + '...' }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <!-- 状态查询 -->
      <div class="QrightHdiv hide">
        <ul class="QnewsUl">
          {% for es5 in exam_state5 %}
            <li>
              <span>{{ es5.datetime }}</span>
              <a href="{{ url_for('news', cate='qualification', data=es5.id) }}"
                 target="_blank">{{ es5.title[:28] + '...' }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <!-- 审批公告 -->
      <div class="QrightHdiv hide">
        <ul class="QnewsUl">
          {% for en5 in exam_noti %}
            <li>
              <span>{{ en5.datetime }}</span>
              <a href="{{ url_for('news', cate='qualification', data=en5.id) }}"
                 target="_blank">{{ en5.title[:28] + '...' }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

    </div>
    <!-- 地方统计调查项目管理 -->
    <div class="Wdftjgl">
      <div class="Whead Qbottom">
        <span class="Wactive"><!-- 地方统计调查项目管理 --><i
                style="cursor:pointer;"
                onclick="window.open('/id_dftjdcxmgl201803120103320056/column.shtml')">地方统计调查项目管理</i><em
                class="Wlbj"></em><em class="Wrbj"></em></span>
      </div>
      <div class="QrightHead">
        <p class="Qp2 Qte"><a href="/id_dftjdcxmgl201803120103320056/column.shtml" target="_blank">全部/</a></p>
        <p class="Qp2"><a href="/id_ygwj201803120133265315/column.shtml" target="_blank"><!-- 有关文件 -->有关文件 /</a>
        </p>
        <p class="Qp2"><a href="/id_bgxz201803120133118068/column.shtml" target="_blank"><!-- 表格下载 -->表格下载 /</a>
        </p>
        <p class="Qp2"><a href="/id_spgg201803120133031108/column.shtml" target="_blank"><!-- 审批公告 -->审批公告</a>
        </p>
      </div>
      <!-- 全部 -->
      <div class="QrightHdiv">
        <ul class="QnewsUl">
          {% for m5 in mana5 %}
            <li>
              <span>{{ m5.datetime }}</span>
              <a href="{{ url_for('news', cate='qualification', data=m5.id) }}"
                 target="_blank">{{ m5.title[:28] + '...' }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <!-- 有关文件 -->
      <div class="QrightHdiv hide">
        <ul class="QnewsUl">
          {% for mt5 in mana_tab5 %}
            <li>
              <span>{{ mt5.datetime }}</span>
              <a href="{{ url_for('news', cate='qualification', data=mt5.id) }}"
                 target="_blank">{{ mt5.title[:28] + '...' }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <!-- 表格下载 -->
      <div class="QrightHdiv hide">
        <ul class="QnewsUl">
          {% for mr5 in mana_real5 %}
            <li>
              <span>{{ mr5.datetime }}</span>
              <a href="{{ url_for('news', cate='qualification', data=mr5.id) }}"
                 target="_blank">{{ mr5.title[:28] + '...' }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <!-- 审批公告 -->
      <div class="QrightHdiv hide">
        <ul class="QnewsUl">
          {% for mn5 in mana_noti %}
            <li>
              <span>{{ mn5.datetime }}</span>
              <a href="{{ url_for('news', cate='qualification', data=mn5.id) }}"
                 target="_blank">{{ mn5.title[:28] + '...' }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="WwsbsR clearfix">
    <!-- 一体化服务 -->
    <div class="Wythfw">
      <div class="Whead Qbottom">
        <span style="cursor:default;" class="Wactive">一体化服务<em style="cursor: default;" class="Wlbj"></em><em
                class="Wrbj"></em></span>
      </div>
      <div class="WythfwList">
        <ul>
          <li>
            <a class="bsznIcon" href="{{ url_for('integration', cate='relatives') }}" target="_blank"><p>
              有关文件</p>
            </a>
          </li>
          <li>
            <a class="zxsbIcon" href="{{ url_for('integration', cate='procedure') }}" target="_blank"><p>
              审批程序</p>
            </a>
          </li>
          <li>
            <a class="rbgxzIcon" href="{{ url_for('integration', cate='table') }}" target="_blank"><p>
              表格下载</p>
            </a>
          </li>
          <li>
            <a class="jgcxIcon" href="{{ url_for('integration', cate='notice') }}" target="_blank"><p>
              审批公告</p>
            </a>
          </li>
          <li>
            <a class="tjzdxzIcon" href="{{ url_for('integration', cate='sys') }}" target="_blank"><p>
              统计制度下载</p></a>
          </li>
          <li>
            <a class="tjbbxzIcon" href="{{ url_for('integration', cate='report') }}" target="_blank"><p>
              统计报表下载</p></a>
          </li>
          <li class="nobjLi"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- 网上办事内容结束 -->

<!-- 互动交流内容 -->
{% block hdjl_view %}{% endblock %}
<div class="Qcontent Qtotal hide">
  <div class="WzxftL clearfix">
    <!-- 在线访谈 -->
    <div class="Wzxft fl">
      <div class="Whead Qbottom">
        <a href="{{ url_for('interview_list') }}" target="_blank">更多</a>
        <span class="Wactive">
          <i style="cursor:pointer;">在线访谈</i><em
                class="Wlbj"></em><em class="Wrbj"></em>
        </span>
      </div>
      <div class="WzxftList fl">
        <dl>

          <dt><img src="/resource/tongbu/image/20200121/20200121135032447.jpg" alt=""></dt>
          <dd>
            <div class="WftTit"><a
                    href="{{ url_for('news', cate='interview', data=int9[0].id) }}">{{ int9[0].title }}</a></div>
            <p>{{ int9[0].content[:150] + '...' }}</p>
          </dd>

        </dl>
      </div>
      <div class="Wwqhg fl">
        <div class="Whead">
          <span class="Qguo">往期回顾</span>
        </div>
        <ul class="wqhgUl">
          {% for i9 in int9 %}
            <li><a href="{{ url_for('news', cate='interview', data=i9.id) }}"
                   target="_blank">{{ i9.title[: 14] + '...' }}</a>
            </li>
          {% endfor %}
          <li class="nobjLi"></li>
        </ul>
      </div>
    </div>
    <!-- 在线咨询 -->
    <div class="Wzxzx fl">
      <div class="Whead Qbottom">
        <a href="{{ url_for('consult') }}" target="_blank">更多</a>
        <span class="Wactive">
          <i style="cursor:pointer;">在线咨询</i>
          <em class="Wlbj"></em><em class="Wrbj"></em></span>
      </div>
      <div class="WzxzxList fl">

        {% for c in consult4 %}
          <div class="WzxzxQW">
            <div class="WzxTime">{{ c.ask_time }}</div>
            <p class="Wques" title="您好，我在兼职猫网页上看到统计局社情民意调查中心招聘周末兼职，请问信息是否属实？">
              {{ c.question[:20] + '...' }}
            </p>
            <p class="Wansw" title="你好，请咨询江西省统计局社情民意调查中心：079186236154、079186272362">
              {{ c.answer[:25] + '...' }}
              <a href="{{ url_for('consult_show', id=c.id) }}" target="_blank">[详细]</a>
            </p>
          </div>
        {% endfor %}


      </div>
    </div>
  </div>
  <div class="WzxftR clearfix">
    <div class="Wtjcs fl">
      <div class="Whead Qbottom">
        <a href="{{ url_for('fqa') }}" target="_blank">更多</a>
        <span class="Wactive">
          <i style="cursor:pointer;" onclick="{{ url_for('fqa') }}">常见问题</i>
          <em class="Wlbj"></em>
          <em class="Wrbj"></em>
        </span>
      </div>
      <div class="QrightHdiv">
        <ul class="QnewsUl">
          {% for j in fqa %}
            <li><span>{{ j.datetime }}</span><a href="{{ url_for('news', cate='fqa', data=j.id) }}"
                                                target="_blank">{{ j.title[:6] + '...' }}</a></li>
          {% endfor %}

        </ul>
      </div>
    </div>
    <!-- 领导信箱 -->
    <div class="WjgzzList fl">
      <ul>
        <li class="fl">
          <a class="ldxxIcon" href="{{ url_for('mail') }}" target="_blank">
            <p>领导信箱</p>
          </a>
        </li>
        <li class="fr">
          <a class="zxzxIcon" href="{{ url_for('consult') }}" target="_blank">
            <p>在线咨询</p>
          </a>
        </li>
        <li class="lastLi fl">
          <a class="jbxxIcon" href="{{ url_for('report') }}" target="_blank">
            <p>统计局统计违法举报信箱</p>
          </a>
        </li>
      </ul>
    </div>
    <!-- 网上调查 -->
    <div class="Wwsdc fl">
      <div class="Whead Qbottom">
        <a href="#" target="_blank">更多</a><span class="Wactive">
        <i style="cursor:pointer;" onclick="window.open('/id_wsdc201803120101254971/column.shtml')">网上调查</i>
        <em class="Wlbj"></em><em class="Wrbj"></em></span>
      </div>
      <div class="myzj_ul">
        <ul class="myul">
          {% for t in theme3 %}
            <li id="{{ t.account }}" class="jxLi">
              <span style="color: #0c90cc">{{ t.state }}</span>
              <a href="#" target="_blank">{{ t.title[: 9] + '...' }}</a>
            </li>
          {% endfor %}
        </ul>

      </div>
    </div>
  </div>
</div>
<!-- 互动交流内容结束 -->
<!-- 底部 -->
<div class="Qfooter">
  <!-- 友情链接 -->
  <div class="Qlink"></div>
  <!-- 版权 -->
  <div class="QfotBot"></div>
</div>
<script src="/static/js/easy.navigat.js"></script>
<script>
    $(function () {
        $('.Qnav li').each(function (i) {
            $(this).hover(function () {
                $(this).addClass('Qcurrent').siblings().removeClass('Qcurrent');
                $('.Qcontent:eq(' + i + ')').removeClass('hide').siblings('.Qcontent').addClass('hide');
            });
        });


        $('.guanbi').click(function () {
            $('.weibo').slideUp(300);
        });
    });

</script>
<script type="text/javascript">
    $(function () {

        $('#dowebok').responsiveSlides({
            //manualControls: '#slider-pager',
            pager: true,//控制下标点
            namespace: 'centered-btns'
        });

        $('.QrightHead .Qp2').mouseover(function () {
            if (!$(this).hasClass('Qte')) {
                $(this).addClass('Qte').siblings().removeClass('Qte');
            }
        });

        $('.QDdivul li:last').css('borderRight', 'none');
        $('.QjgglUl li:last').css('borderRight', 'none');

        // 首页脚本结束
        // 统计数据
        function tabTurn(tabEle, active, contEle) {
            $(tabEle).each(function (i) {
                $(this).hover(function () {
                    $(this).addClass(active).siblings(tabEle).removeClass(active);
                    $(contEle).eq(i).removeClass('hide').siblings(contEle).addClass('hide');
                })
            })
        }

        tabTurn('.totaldiv2 .QrightHead p', 'Qte', '.totaldiv2 .QrightHdiv .Qtab');
        $('.QDdivul li:last').css('borderRight', 'none');
        $('.QjgglUl li:last').css('borderRight', 'none');
        $('.QulList li:last').css('borderBottom', 'none');
        // 首页动态要情、通知公告切换
        tabTurn('.dttzDIv .QrightHead span', 'Qactive', '.dttzDIv .QrightHdiv');

        //政务公开动态要情、要情关注切换
        tabTurn('.yqgzDIv .QrightHead span', 'Qactive', '.yqgzDIv .QrightHdiv');

        //首页统计快讯 数据解读切换
        tabTurn('.HHright .QrightHead span', 'Qactive', '.HHright .QrightHdiv');

        //首页统计数据 统计文化切换
        tabTurn('.Qleft .QrightHead span', 'Qactive', '.Qleft .QrightHdiv');


        // 网上办事脚本
        // 轮播脚本
        $('#zwgkImgs').responsiveSlides({
            //manualControls: '#slider-pager',
            pager: true,//控制下标点
            namespace: 'centered-btns'
        });
        $('.Qnav li').mouseover(function () {
            if (!$(this).hasClass('Qcurrent')) {
                $(this).addClass('Qcurrent').siblings().removeClass('Qcurrent');
            }
        });
        // 涉外调查机构资格认证
        tabTurn('.Wswdcrz .QrightHead .Qp2', 'Qte', '.Wswdcrz .QrightHdiv');
        // 涉外调查项目审批
        tabTurn('.Wswdcsp .QrightHead .Qp2', 'Qte', '.Wswdcsp .QrightHdiv');
        // 地方统计调查项目管理
        tabTurn('.Wdftjgl .QrightHead .Qp2', 'Qte', '.Wdftjgl .QrightHdiv');
        // 网上办事脚本结束

    });
    (function () {
        $("#marquee1").kxbdMarquee({direction: "left", scrollAmount: 1, scrollDelay: 50});
    })();
</script>
<!-- 首页图标脚本 -->

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main1'));
    //alert('规模以上工业增加值');
    // 指定图表的配置项和数据
    option = {
        legend: {
            data: ['同比增长']
        },
        xAxis: [
            {//'2018-9','10','11','12','1','2','3','4','5','6','7','2019-8'
                type: 'category',
                data: ['2017-3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '2', '2018-3'],
                axisPointer: {
                    type: 'shadow'
                }
            }
        ],
        yAxis: [
            {
                type: 'value',
                name: '(%)',
                min: 8,
                max: 15,
                interval: 1,
                axisLabel: {
                    formatter: '{value}'
                }
            }
        ],
        series: [

            {
                name: '同比增长',
                type: 'line',
                smooth: true,
                data: [9.1, 9.1, 9.1, 9.1, 9.1, 9.1, 9.1, 9.1, 9.1, 9.1, 9.1, 9.1]
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>


<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main2'));
    //alert('固定资产投资');
    // 指定图表的配置项和数据
    option = {
        legend: {
            data: ['同比增长']
        },
        xAxis: [
            {
                type: 'category',
                data: ['2017-5', '6', '7', '8', '9', '10', '11', '12', '2', '3', '4', '2018-5'],
                axisPointer: {
                    type: 'shadow'
                }
            }
        ],
        yAxis: [
            {
                type: 'value',
                name: '(%)',
                min: 15,
                max: 10,
                interval: 1,
                axisLabel: {
                    formatter: '{value}'
                }
            }
        ],
        series: [
            {
                name: '同比增长',
                type: 'line',
                smooth: true,
                data: [12.6, 12.5, 12.5, 12.7, 12.6, 12.7, 12.6, 12.3, 12.0, 12.0, 11.8, 11.5]
            }
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>


<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main3'));
    //alert('社会消费品零售总额');
    // 指定图表的配置项和数据
    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#999'
                }
            }
        },
        toolbox: {
            feature: {
                dataView: {show: false, readOnly: false},
                magicType: {show: false, type: ['line', 'bar']},
                restore: {show: false},
                saveAsImage: {show: false}
            }
        },
        legend: {
            data: ['社会消费品零售总额', '同比增长']
        },
        xAxis: [
            {
                type: 'category',
                data: ['2017-5', '6', '7', '8', '9', '10', '11', '12', '2', '3', '4', '2018-5'],
                axisPointer: {
                    type: 'shadow'
                }
            }
        ],
        yAxis: [
            {
                type: 'value',
                name: '(亿元)',
                min: 0,
                max: 7000,
                interval: 1000,
                axisLabel: {
                    formatter: '{value}'
                }
            },
            {
                type: 'value',
                name: '(%)',
                min: 12.8,
                max: 11.8,
                interval: 0.1,
                axisLabel: {
                    formatter: '{value}'
                }
            }
        ],
        series: [
            {
                name: '社会消费品零售总额',
                type: 'bar',
                data: [1698.20, 2198.42, 2791.70, 4535.94, 5154.9, 5907.0, 6665.0, 7448.09, 1159.76, 1709.28, 2209.06, 2806.44]
            },
            {
                name: '同比增长',
                type: 'line',
                yAxisIndex: 1,
                smooth: true,

                data: [12.4, 12.5, 12.7, 12.6, 12.6, 12.5, 12.3, 12.3, 10.5, 11.0, 11.1, 11.0]
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>


<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main4'));
    //alert('居民消费价格指数');
    // 指定图表的配置项和数据
    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#999'
                }
            }
        },
        toolbox: {
            feature: {
                dataView: {show: false, readOnly: false},
                magicType: {show: false, type: ['line', 'bar']},
                restore: {show: false},
                saveAsImage: {show: false}
            }
        },
        legend: {
            data: ['当月', '累计']
        },
        xAxis: [
            {
                type: 'category',
                data: ['2017-5', '6', '7', '8', '9', '10', '11', '12', '2', '3', '4', '2018-5'],
                boundaryGap: false,
                //axisPointer: {
                //  type: 'shadow'
                //}
            }
        ],
        yAxis: [
            {
                type: 'value',
                name: '',
                min: 101.3,
                max: 102.1,
                interval: 0.1,
                axisLabel: {
                    formatter: '{value}'
                }
            },
            {
                type: 'value',
                name: '',
                min: 100.6,
                max: 102.6,
                interval: 0.2,
                axisLabel: {
                    formatter: '{value}'
                }
            }
        ],
        series: [
            {

                name: '当月',
                type: 'line',
                yAxisIndex: 1,
                smooth: true,


                data: [101.2, 101.3, 101.8, 101.8, 101.9, 102.3, 101.8, 101.9, 101.5, 102.3, 101.68, 101.8]
            },
            {
                name: '累计',
                type: 'line',
                yAxisIndex: 1,
                smooth: true,

                data: [101.4, 101.4, 101.5, 101.5, 101.6, 101.7, 101.8, 101.78, 101.76, 102.0, 102.36, 101.8]
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>


<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main5'));
    //alert('财政收入');
    // 指定图表的配置项和数据
    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#999'
                }
            }
        },
        toolbox: {
            feature: {
                dataView: {show: false, readOnly: false},
                magicType: {show: false, type: ['line', 'bar']},
                restore: {show: false},
                saveAsImage: {show: false}
            }
        },
        legend: {
            data: ['财政收入', '同比增长']
        },
        xAxis: [
            {//'2018-9','10','11','12','1','2','3','4','5','6','7','2019-8'
                type: 'category',
                data: ['2017-3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '2', '2018-3'],
                axisPointer: {
                    type: 'shadow'
                }
            }
        ],
        yAxis: [
            {
                type: 'value',
                name: '(亿元)',
                min: 0,
                max: 3500,
                interval: 500,
                axisLabel: {
                    formatter: '{value}'
                }
            },
            {
                type: 'value',
                name: '(%)',
                min: 0,
                max: 15,
                interval: 5,
                axisLabel: {
                    formatter: '{value}'
                }
            }
        ],
        series: [
            {
                name: '财政收入',
                type: 'bar',
                data: [958.94, 2700, 3050, 3200, 700, 900, 1300, 1600, 1900, 2300, 2490, 2700]
            },
            {
                name: '同比增长',
                type: 'line',
                yAxisIndex: 1,
                smooth: true,
                data: [11.6, 9, 8, 5, 10, 11, 7, 6.8, 8, 10.5, 10, 12]
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>

<script type="text/javascript">
    var NowImg = 1;//表示当前显示的div
    var MaxImg = 5;//表示div的个数
    function show() {
        for (var i = 1; i <= MaxImg; i++) {
            if (NowImg == i) {
                document.getElementById("main" + NowImg).style.display = 'block';//当前显示的div
                document.getElementById("text" + NowImg).style.display = 'block';
            } else {
                document.getElementById("main" + i).style.display = 'none';
                document.getElementById("text" + i).style.display = 'none';
            }
        }
        if (NowImg == MaxImg)//判断当前div是否是最后一个，如果是则从第一个重新轮回显示
            NowImg = 1;
        else
            NowImg++;//设置下一个显示的图片
    }

    theTimer = setInterval("show()", 5000);//设置定时器，显示下一个图片，10000表示每间隔10秒，可以改的。。。
</script>


</body>
</html>