<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1 ">
  <title>江西省统计局-财政资金</title>
  <link href="/static/css/default.css" rel="stylesheet" type="text/css">
  <script src="/static/js/jquery-1.11.3.min.js"></script>

  <script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/assets/prompt.js"></script>
</head>
<body id="maincontainer">
<!-- 头部 -->
<script src="/static/js/lang.js"></script>

<!--<div style="height:215px; background:url(/resource/uploadfile/image/20190930/20190930111619398.jpg) no-repeat center top;"></div>-->


<div class="QScenbox">
  <div class="Qlogo fl"><img src="/static/img/Qlogo.png" alt=""></div>
  <div class="Qsearch fr">
    <form action="/search_list/" method="post">
      <input id="ss-k" name="ss-k" type="text" class="fl" placeholder="请输入关键字">
      <span class="Qsou fr" type="submit"> </span>
    </form>
  </div>
</div>
<ul class="Qnav">
  <li class="Qcurrent"><a href="{{ url_for('home') }}" class="Qa1">首页</a></li>
  <li id="zwgk201803120100392355" class=""><a href="{{ url_for('home') }}" class="Qa2">政务公开</a></li>
  <li id="tjsj201803120100294255" class=""><a href="{{ url_for('home') }}" class="Qa3">统计数据</a></li>
  <li id="wsbs201803120100172099" class=""><a href="{{ url_for('home') }}" class="Qa4">网上办事</a></li>
  <li id="hdjl201803120059532727"><a href="{{ url_for('home') }}" class="Qa5">互动交流</a></li>
</ul>
<script>


    function gowza() {
        window.open("http://www.jxgtt.gov.cn/Column.shtml?p5=20000274");
    }
</script>
<div class="Qcontent">
  <div class="Qplace">
    <div class="curPlace">
{#      <a href="/index.shtml">首页</a> &gt;&gt; <a href="/id_zwgk201803120100392355/column.shtml">政务公开</a> &gt;&gt; <a#}
{#            href="/id_czxx201803120108401728/column.shtml">财政资金</a>#}
    </div>
  </div>
  <div class="Qcolumn">
    <!-- 有子栏目左侧 -->
    <div class="QcolL fl">
      <ul class="listUl">
        <div class="Qli"><a href="javascript:void(0);">财政资金</a></div>

      </ul>
    </div>
    <div class="QcolR fr">
      <ul class="QcolRul">
      {% for f in fund %}
        <li><span>{{ f.datetime }}</span><a href="{{ url_for('news', cate='fund', data=f.id) }}">{{ f.title[: 30] + '...' }}</a></li>
      {% endfor %}
      </ul>

      <div class="Qtoggle">
        <div class="strong-ui-pager">
          首页 &nbsp;&nbsp;
          上一页 &nbsp;&nbsp;
          <a href="/id_czxx201803120108401728/page_2/column.shtml">下一页</a> &nbsp;&nbsp;
          <a href="/id_czxx201803120108401728/page_3/column.shtml">末页</a>&nbsp;
          <span>1/3</span>&nbsp;
          <input id="pager-index" size="2" type="text" onkeypress="javascript:if(event.keyCode==13){pagerGo();}">
          <button type="button" id="pager-go" onclick="pagerGo();">Go</button>
          <script type="text/javascript">
              var curpage = parseInt(1);
              var totalpage = parseInt(3);

              function pagerGo() {
                  var nav = document.getElementById("pager-index").value;
                  nav = Math.round(nav);
                  nav = isNaN(nav) ? 1 : nav;
                  nav = (nav <= 1) ? 1 : nav;
                  nav = (nav >= totalpage) ? totalpage : nav;
                  var url = "/id_czxx201803120108401728/page_##/column.shtml";
                  location = url.replace("##", nav);
              }
          </script>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- 底部 -->
<div class="Qfooter">
  <!-- 友情链接 -->
  <div class="Qlink">

  </div>
  <!-- 版权 -->
  <div class="QfotBot">

  </div>
</div>
<script src="/resource/js/easy.navigat.js"></script>
<script>
    $(function () {
        $('.Qnav li').each(function (i) {
            $(this).hover(function () {
                $(this).addClass('Qcurrent').siblings().removeClass('Qcurrent');
                $('.Qcontent:eq(' + i + ')').removeClass('hide').siblings('.Qcontent').addClass('hide');
            });
        });

        // 头部导航选中
        var Aid = 'czxx201803120108401728';
        if (Aid != '') {
            $('#' + Aid).addClass('Qcurrent').siblings().removeClass('Qcurrent');
            var index = $('#' + Aid).index();
            $('.Qcontent:eq(' + index + ')').removeClass('hide').siblings('.Qcontent').addClass('hide');
            $('.Qnav li').each(function (i) {
                var navid = $(this).attr('id');
                if (Aid == navid) {
                    $(this).addClass('Qcurrent').siblings().removeClass('Qcurrent');
                }
            });
        }

        $('.guanbi').click(function () {
            $('.weibo').slideUp(300);
        });
    });

</script>



</body>
</html>