<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1 ">
  <title>江西省统计局-有关文件</title>
  <link href="/static/css/default.css" rel="stylesheet" type="text/css">
  <script src="/static/js/jquery-1.11.3.min.js"></script>

  <script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/assets/prompt.js"></script>
</head>
<body id="maincontainer">
<!-- 头部 -->

<!--<div style="height:215px; background:url(/resource/uploadfile/image/20190930/20190930111619398.jpg) no-repeat center top;"></div>-->


<div class="QScenbox">
  <div class="Qlogo fl"><img src="/static/img/Qlogo.png" alt=""></div>
  <div class="Qsearch fr">
    <input id="ss-k" name="ss-k" type="text" class="fl" value="请输入关键字"
           onfocus="if (value =='请输入关键字'){value =''}this.style.color='#333' "
           onblur="if (value ==''){value='请输入关键字'}this.style.color='#333'"
           onkeyup="javascript:if(event.keyCode==13){siteSearch();}">
    <span class="Qsou fr" onclick="siteSearch()"> </span>
  </div>
</div>
<ul class="Qnav">
  <li class=""><a href="/" class="Qa1">首页</a></li>
  <li id="zwgk201803120100392355" class=""><a href="/id_zwgk201803120100392355/Index.shtml" class="Qa2">政务公开</a></li>
  <li id="tjsj201803120100294255" class="Qcurrent"><a href="/id_tjsj201803120100294255/Index.shtml" class="Qa3">统计数据</a>
  </li>
  <li id="wsbs201803120100172099"><a href="/id_wsbs201803120100172099/Index.shtml" class="Qa4">网上办事</a></li>
  <li id="hdjl201803120059532727"><a href="/id_hdjl201803120059532727/Index.shtml" class="Qa5">互动交流</a></li>
</ul>
<script>
    function siteSearch() {
        var key = document.getElementById('ss-k').value;
        if (key == '' || key == '请输入关键字') {
            alert('请输入查询条件!');
            return false;
        }
        //alert(key);
        key = encodeURIComponent(key);
        key = key.replace(/%/g, "@");
        location = '/key_' + key + '/search.shtml';
    }

    function gowza() {
        window.open("http://www.jxgtt.gov.cn/Column.shtml?p5=20000274");
    }
</script>

<!-- 内容 -->
<div class="Qcontent">
  <div class="Qplace">
    <div class="curPlace">
      <a href="/index.shtml">首页</a> &gt;&gt; <a href="/id_wsbs201803120100172099/column.shtml">网上办事</a> &gt;&gt; <a
            href="/id_dftjdcxmgl201803120103320056/column.shtml">地方统计调查项目管理</a> &gt;&gt; <a
            href="/id_ygwj201803120133265315/column.shtml">有关文件</a>
    </div>
  </div>
  <div class="Qcolumn">
    <!-- 无子栏目左侧 -->
    <div class="QcolL fl">
      <ul class="listUl">
        <div class="Qli"><a href="javascript:void(0);">地方统计调查项目管理</a></div>

        <li><a href="{{ url_for('integration', cate='relatives') }}" title="有关文件">有关文件</a></li>
        <li><a href="{{ url_for('integration', cate='procedure') }}" title="审批程序">审批程序</a></li>
        <li><a href="{{ url_for('integration', cate='table') }}" title="表格下载">表格下载</a></li>
        <li><a href="{{ url_for('integration', cate='notice') }}" title="审批公告">审批公告</a></li>
        <li><a href="{{ url_for('integration', cate='sys') }}" title="统计制度下载">统计制度下载</a></li>
        <li><a href="{{ url_for('integration', cate='report') }}" title="统计报表下载">统计报表下载</a></li> <!-- 统计公报下载 -->
      </ul>
    </div>
    <div class="QcolR fr">
      <ul class="QcolRul">
        {% for i in data %}
        <li><span>{{ i.datetime }}</span><a href="{{ url_for('news', cate=i.cate, data=i.id) }}">{{ i.title[:30] + '...' }}</a>
        </li>
        {% endfor %}
      </ul>


    </div>
  </div>
</div>
<!-- 底部 -->
<div class="Qfooter">

</div>
<script src="/static/js/easy.navigat.js"></script>
<script>
    $(function () {
        $('.Qnav li').each(function (i) {
            $(this).hover(function () {
                $(this).addClass('Qcurrent').siblings().removeClass('Qcurrent');
                $('.Qcontent:eq(' + i + ')').removeClass('hide').siblings('.Qcontent').addClass('hide');
            });
        });

        // 头部导航选中
        var Aid = 'ygwj201803120133265315';
        if (Aid != '') {
            $('#' + Aid).addClass('Qcurrent').siblings().removeClass('Qcurrent');
            var index = $('#' + Aid).index();
            $('.Qcontent:eq(' + index + ')').removeClass('hide').siblings('.Qcontent').addClass('hide');
            $('.Qnav li').each(function (i) {
                var navid = $(this).attr('id');
                if (Aid == navid) {
                    $(this).addClass('Qcurrent').siblings().removeClass('Qcurrent');
                }
            });
        }

        $('.guanbi').click(function () {
            $('.weibo').slideUp(300);
        });
    });

</script>


</body>
</html>