{% extends "news_list.html" %}
{% block left_list %}
  <ul class="listUl">
    <div class="Qli"><a href="javascript:void(0);">{{ left_list[0].name }}</a></div>
    {% for h in left_list[1:] %}
      <li><a href="{{ url_for(h.href, cate=h.cate) }}" title="#">{{ h.name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
{% block right_content %}
  <div class="QcolR fr">

  {% for i in leader %}

    <div class="QdivBox" id="{{ i.id }}">
      <div class="QleftD">
        <!-- <img src="/resource/uploadfile/image/20180318/20180318050507443.jpg" width="130" height="162" alt=""> -->
        <p class="QleftDp"><a href="javascript:void(0);">{{ i.name }}</a></p>
        <p>{{ i.title }}</p>
      </div>
      <div class="QrightD">
        <p class="Qpbg">领导简介</p>
        <div class="Qptext">
          {{ i.intro }}
        </div>
        <p class="Qptext"></p>
      </div>
    </div>

  {% endfor %}

  </div>
{% endblock %}