{% extends 'interaction.html' %}
{% block right_content %}

  <a href="/id_ZXZ2018030214305410/ReferSearch.shtml" class="btn_bluearrow2">查看留言</a>

  
  <table width="100%" align="center" cellpadding="0" cellspacing="0" class="ma_14zi6"
         style="font-size:14px;border:1px solid #dedede;">
    <tbody>
    <tr bgcolor="#fff" height="10">
    </tr>
    <tr>
      <input type="hidden" id="referMark" name="referMark" value="2020031001005955">
      <td width="20%" height="50" align="right" bgcolor="#F3F3F3" class="titlecol" style="padding-right:2px;">受理编号：</td>
      <td width="80%" bgcolor="#F3F3F3" class="inputcol">
        <script>
            var nowDate = new Date();
            var theMonth = nowDate.getMonth() + 1;
            if (theMonth < 10) {
                theMonth = '0' + theMonth;
            }
            var theDate = nowDate.getDate();
            if (theDate < 10) {
                theDate = '0' + theDate;
            }
            var theHours = nowDate.getHours();
            if (theHours < 10) {
                theHours = '0' + theHours;
            }
            var theMinutes = nowDate.getMinutes();
            if (theMinutes < 10) {
                theMinutes = '0' + theMinutes;
            }
            var theSeconds = nowDate.getSeconds();
            if (theSeconds < 10) {
                theSeconds = '0' + theSeconds;
            }
            var theReferCode = (1900 + nowDate.getYear()) + '' + theMonth + theDate + theHours + theMinutes + theSeconds + parseInt((Math.random() * 10)) + parseInt((Math.random() * 10));
            document.getElementById('referMark').value = theReferCode;
            document.write(theReferCode);
        </script>
        {# 编号位置 #}


        <input type="hidden" id="referSortId" name="referSortId" value="ZXZ2018030214305410">

        <span class="STYLE2" style="padding-left:66px;"> * </span> <span class="ma_14zi5 STYLE1" style="color:#0376d3;">请牢记受理编号,方便您查询信访件办理情况</span>
      </td>
    </tr>
    <form action="ss.asp"></form>
    <tr bgcolor="#FFFFFF">
      <td height="50" align="right" class="titlecol" style="padding-right:2px;">是否加密：</td>
      <td class="ma_14zi5 inputcol"><span class="normalTextOne"></span>
        <span class="alerttext">
                    <input type="radio" id="referOpen" name="referOpen" value="1">
                 是
                 <input name="referOpen" type="radio" id="referOpen" value="0" checked="checked">
                 否
                    <span class="STYLE2" style="padding-left:94px;"> * </span></span>
        <span class="confirmtext STYLE1" style="color:#0376d3;"> 请选择是否保密</span>
      </td>
    </tr>
    <tr>
      <td height="50" align="right" bgcolor="#F3F3F3" class="titlecol" style="padding-right:2px;">作&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;者：</td>
      <td bgcolor="#F3F3F3" class="ma_14zi5">
        <input class="input" id="referUser" name="referUser" type="text" size="26" maxlength="9">
        <span class="alerttext STYLE2"> * </span>
        <span class="ma_14zi5 STYLE1"> 请填写作者名称</span>
      </td>
    </tr>
    <tr style="display:none;">
      <td height="50" align="right" bgcolor="#F3F3F3" class="titlecol" style="padding-right:2px;">身份证号码：</td>
      <td bgcolor="#F3F3F3" class="ma_14zi5">
        <input class="input" id="referCreId" name="referCreId" type="text" size="26" maxlength="18">
        <span class="alerttext STYLE2"> * </span>
        <span class="confirmtext STYLE1" style="color:#0376d3;"> 请填写你的身份证号码</span>
      </td>
    </tr>
    <tr bgcolor="#F3F3F3">
      <td height="50" align="right" bgcolor="#ffffff" class="titlecol" style="padding-right:2px;">联系电话：</td>
      <td bgcolor="#ffffff" class="inputcol">
        <input class="input" id="referPhone" name="referPhone" type="text" size="26" maxlength="20">
        <span class="ma_14zi5">
          <span class="alerttext STYLE2"> * </span>
          <span class="STYLE1" style="color:#0376d3;">请填写正确的电话号码</span>
          <font color="#fe02000">（此为查询密码）</font>
        </span>
      </td>
    </tr>


    <tr bgcolor="#F3F3F3">
      <td height="50" align="right" bgcolor="#F3F3F3" class="titlecol" style="padding-right:2px;">电子邮件：</td>
      <td bgcolor="#F3F3F3" class="inputcol">
        <input class="input" id="referEmail" name="referEmail" type="text" size="26" maxlength="20">
        <span class="ma_14zi5">
          <span class="alerttext STYLE2"> * </span>
          <span class="STYLE1" style="color:#0376d3;">请填写正确的邮件地址</span>
        </span>
      </td>
    </tr>
    <tr bgcolor="#F3F3F3" style="display:none;">
      <td align="right" bgcolor="#F3F3F3" class="titlecol" style="padding-right:2px;">通讯地址：</td>
      <td bgcolor="#F3F3F3" class="inputcol">
        <input class="input" id="referAddress" name="referAddress" type="text" size="26" maxlength="20">
        <span class="ma_14zi5"><span class="alerttext STYLE2"> * </span></span>
        <span class="ma_14zi5 STYLE1" style="color:#0376d3;">请填写正确的地址</span>
      </td>
    </tr>
    <tr bgcolor="#FFFFFF">
      <td height="50" align="right" class="titlecol" style="padding-right:2px;">受理单位：</td>
      <td class="inputcol" colspan="3" height="30">
        <select id="referAccId" name="referAccId">
          <option value="4028f89e621c65d101622b5cfe2a0197">江西省统计局</option>
        </select>
      </td>
    </tr>
    <tr bgcolor="#F3F3F3">
      <td height="50" align="right" class="titlecol" style="padding-right:2px;">来信主题：</td>
      <td class="inputcol"><input class="input" id="referTitle" name="referTitle" type="text" size="55" maxlength="20">
        <span class="alerttext STYLE2"> * </span>
        <span class="ma_14zi5 STYLE1" style="color:#0376d3;">请填写主题</span>
      </td>
    </tr>
    <tr bgcolor="#ffffff">
      <td align="right" valign="middle" class="titlecol" style="padding-right:2px;">具体内容：</td>
      <td class="inputcol">
        <textarea class="textarea" id="referContent" name="referContent" cols="70" rows="10" wrap="virtual"></textarea>
      </td>
    </tr>
    <tr bgcolor="#F3F3F3">
      <td align="right" valign="middle" class="titlecol" style="padding-right:2px;">验证码：</td>
      <td class="inputcol">
        <img style="vertical-align:middle;" src="/captcha.jpg" id="captcha" onclick="flashCaptcha();">
        <input align="absmiddle" class="input" type="text" size="5" id="jcaptcha" name="jcaptcha" value="">
      </td>
    </tr>
    <tr bgcolor="#FFFFFF">
      <td height="38" bgcolor="#FFFFFF" class="titlecol">&nbsp;</td>
      <td bgcolor="#FFFFFF" class="inputcol">
        <input type="button" value="提交" class="btn_bluearrow" onclick="subForm();">&nbsp;
        <input type="reset" value="重填" class="btn_bluearrow"></td>
    </tr>

    </tbody>
  </table>

{% endblock %}