{% extends "leader_list.html" %}
{% block right_content %}
  <div class="Qtitle">
    <h2>江西省统计局主要职责</h2>
  </div>
  <div class="Qpage wpage" id="contents">
    <div class="manuscript-text">
      <div class="WnewCont">
        <div class="font14"
             style="FONT-SIZE: 12px; FONT-FAMILY: 宋体; WHITE-SPACE: normal; WORD-SPACING: 0px; TEXT-TRANSFORM: none; FONT-WEIGHT: normal; COLOR: rgb(0,0,0); PADDING-BOTTOM: 0px; FONT-STYLE: normal; PADDING-TOP: 0px; PADDING-LEFT: 0px; ORPHANS: 2; WIDOWS: 2; MARGIN: 0px; LETTER-SPACING: normal; PADDING-RIGHT: 0px; BACKGROUND-COLOR: rgb(255,255,255); TEXT-INDENT: 28px; font-variant-ligatures: normal; font-variant-caps: normal; -webkit-text-stroke-width: 0px"
             deep="9">
          <p style="FONT-SIZE: 14px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px">
            （一）承担组织领导和协调全省统计工作，确保统计数据真实、准确、及时的责任。制定全省统计政策、规划、统计制度和管理统计标准，起草统计法规和规章草案，指导全省统计工作。</p>
          <p style="FONT-SIZE: 14px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px">
            （二）组织实施全省及各设区市国民经济核算制度和投入产出调查，核算全省及各设区市地区生产总值，汇编提供国民经济核算资料，监督管理各设区市国民经济核算工作。</p>
          <p style="FONT-SIZE: 14px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px">
            （三）根据国家有关部门下发的重大国情国力普查计划、方案，拟订本省的实施方案，会同有关部门组织实施人口、经济、农业等重大国情国力普查，汇总、整理和提供有关国情国力方面的统计数据。</p>
          <p style="FONT-SIZE: 14px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px">
            （四）组织实施农林牧渔业、工业、建筑业、批发和零售业、住宿和餐饮业、房地产业、租赁和商务服务业、居民服务和其他服务业、文化体育和娱乐业以及装卸搬运和其他运输服务业、仓储业、计算机服务业、软件业、科技交流和推广服务业、社会福利业等统计调查，收集、汇总、整理和提供有关调查的统计数据，综合整理和提供旅游、交通运输、邮政、教育、卫生、社会保障、公用事业等全省性基本统计数据。</p>
          <p style="FONT-SIZE: 14px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px">
            （五）组织实施能源、投资、消费、价格、收入、科技、人口、劳动力、社会发展基本情况、环境基本状况等统计调查，收集、汇总、整理和提供有关调查的统计数据，综合整理和提供资源、房屋、对外贸易、对外经济等全省性基本统计数据。</p>
          <p style="FONT-SIZE: 14px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px">
            （六）组织各地区、各部门的经济、社会、科技和资源环境统计调查，统一核定、管理、公布全省性基本统计资料，定期发布全省国民经济和社会发展情况的统计信息，组织建立服务业统计信息共享制度和发布制度。</p>
          <p style="FONT-SIZE: 14px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px">
            （七）对国民经济、社会发展、科技进步和资源环境等情况进行统计分析、统计预测和统计监督，向省委、省政府及有关部门提供统计信息和咨询建议。</p>
          <p style="FONT-SIZE: 14px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px">
            （八）依法审批或者备案各部门统计调查项目、地方统计调查项目，指导专业统计基础工作、统计基层业务基础建设，组织建立服务业统计信息管理制度，建立健全统计数据质量审核、监控和评估制度，开展对重要统计数据的审核、监控和评估，依法监督管理涉外调查活动。</p>
          <p style="FONT-SIZE: 14px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px">
            （九）协助各设区市党委管理统计系统领导干部，统一管理省点城市、农村社会经济调查队的工作；指导全省统计专业技术队伍建设，参与组织管理全省统计专业资格考试、职务评聘和从业资格认定工作，监督管理地方政府统计部门由中央财政提供的统计经费和专项基本建设投资。</p>
          <p style="FONT-SIZE: 14px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px">
            （十）建立并管理全省统计信息自动化系统和统计数据库系统，组织制定各地区、各部门统计数据库和网络的基本标准和运行规则，指导地方统计信息化系统建设。</p>
          <p style="FONT-SIZE: 14px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px">
            （十一）承办省人民政府交办的其他事项。</p>
        </div>
      </div>
    </div>

  </div>
{% endblock %}