<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1 ">
  <title>{{ data.title }}</title>
  <link href="/static/css/default.css" rel="stylesheet" type="text/css">
  <script src="/static/js/jquery-1.11.3.min.js"></script>
</head>
<body id="maincontainer">
<!-- 头部 -->
<script src="../static/js/lang.js"></script>

<!--<div style="height:215px; background:url(/resource/uploadfile/image/20190930/20190930111619398.jpg) no-repeat center top;"></div>-->


<div class="QScenbox">
  <div class="Qlogo fl"><img src="/static/img/Qlogo.png" alt=""></div>
  <div class="Qsearch fr">
    <input id="ss-k" name="ss-k" type="text" class="fl" value="请输入关键字"
           onfocus="if (value =='请输入关键字'){value =''}this.style.color='#333' "
           onblur="if (value ==''){value='请输入关键字'}this.style.color='#333'"
           onkeyup="javascript:if(event.keyCode==13){siteSearch();}">
    <span class="Qsou fr" onclick="siteSearch()"> </span>
  </div>
</div>
<ul class="Qnav">
  <li class="Qcurrent"><a href="{{ url_for('home') }}" class="Qa1">首页</a></li>
  <li id="zwgk201803120100392355"><a href="{{ url_for('home') }}" class="Qa2">政务公开</a></li>
  <li id="tjsj201803120100294255"><a href="{{ url_for('home') }}" class="Qa3">统计数据</a></li>
  <li id="wsbs201803120100172099"><a href="{{ url_for('home') }}" class="Qa4">网上办事</a></li>
  <li id="hdjl201803120059532727"><a href="{{ url_for('home') }}" class="Qa5">互动交流</a></li>

</ul>
<script>
    function siteSearch() {
        var key = document.getElementById('ss-k').value;
        if (key == '' || key == '请输入关键字') {
            alert('请输入查询条件!');
            return false;
        }
        //alert(key);
        key = encodeURIComponent(key);
        key = key.replace(/%/g, "@");
        location = '/key_' + key + '/search.shtml';
    }

    function gowza() {
        window.open("http://www.jxgtt.gov.cn/Column.shtml?p5=20000274");
    }
</script>
<!-- 内容 -->
<div class="Qcontent">
  <div class="Qplace">
    <a href="home.html">首页</a> &gt;&gt; <span>政务公开</span> &gt;&gt; <span>工作动态</span> &gt;&gt; <span>厅局动态</span>
  </div>
  <div class="Qarticle">

    <div class="Qtitle">
      <h2>{{ data.title }}</h2>
      <h2></h2>
      <p>
        {% if data.datetime %}
          日期：{{ data.datetime }}
        {% endif %}
        &nbsp;&nbsp;&nbsp;&nbsp;稿源：江西省统计局&nbsp;&nbsp;&nbsp;&nbsp;
      </p>
    </div>
    <div class="Qpage" id="contents">
      {{ data.content }}
    </div>

  </div>
  <div class="Qlast">
    <p class="Qlastp fl">
      浏览字号选择:
      <a href="javascript:void(0);" onclick="changeSize(20);">大</a>
      <a class="Qa" href="javascript:void(0);" onclick="changeSize(16);">中</a>
      <a href="javascript:void(0);" onclick="changeSize(12);">小</a>
    </p>
    <ul class="Qlastul fr">
      <li id="Qli1">关闭窗口</li>
      <li id="Qli2">回到顶部</li>
    </ul>
  </div>
</div>
<!-- 底部 -->
<div class="Qfooter">
  <!-- 友情链接 -->
  <div class="Qlink">

  </div>
  <!-- 版权 -->
  <div class="QfotBot">

  </div>
</div>
<script src="../static/js/easy.navigat.js"></script>
<script>
    $(function () {
        $('.Qnav li').each(function (i) {
            $(this).hover(function () {
                $(this).addClass('Qcurrent').siblings().removeClass('Qcurrent');
                $('.Qcontent:eq(' + i + ')').removeClass('hide').siblings('.Qcontent').addClass('hide');
            });
        });

        // 头部导航选中
        var Aid = '8a84cc836bdf3c5d016cbc868f306c74';
        if (Aid != '') {
            $('#' + Aid).addClass('Qcurrent').siblings().removeClass('Qcurrent');
            var index = $('#' + Aid).index();
            $('.Qcontent:eq(' + index + ')').removeClass('hide').siblings('.Qcontent').addClass('hide');
            $('.Qnav li').each(function (i) {
                var navid = $(this).attr('id');
                if (Aid == navid) {
                    $(this).addClass('Qcurrent').siblings().removeClass('Qcurrent');
                }
            });
        }

        $('.guanbi').click(function () {
            $('.weibo').slideUp(300);
        });
    });

</script>
<script type="text/javascript">

    //字体大小切换
    function changeSize(size) {
        var toSize = size;
        var contentelements = document.getElementById('contents').getElementsByTagName("*");
        if (contentelements.length > 0) {
            document.getElementById('contents').style.fontSize = size + "px";
            for (var i = 0; i < contentelements.length; i++) {
                contentelements[i].style.fontSize = size + "px";
            }
        } else {
            document.getElementById('contents').style.fontSize = size + "px";
        }

    }

    $(function () {
        $('.Qlastp a').bind('click', function () {
            var thisObj = $(this);
            $(this).addClass('Qa');
            $(this).siblings('a').removeClass('Qa');
        });
        $('#Qli1').click(function () {
            window.close();
        });
        $('#Qli2').click(function () {
            $("html,body").animate({scrollTop: 0}, 500);
        });


    });
</script>

</body>
</html>