{% extends "list_view.html" %}
{% block left_list %}
  <ul class="listUl">
    <div class="Qli"><a href="javascript:void(0);">{{ left_list[0].name }}</a></div>
    {% for h in left_list[1:] %}
      <li><a href="{{ url_for(h.href, cate=h.cate) }}" title="#">{{ h.name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
{% block right_content %}
  <ul class="QcolRul">
    {% for f in data %}
      <li>
        <span>{{ f.datetime }}</span>
        <a href="{{ url_for('news', cate=f.second_cate, data=f.id) }}">{{ f.title[: 30] + '...' }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}