{% extends 'base_view.html' %}
{% block center_content %}
  <div class="Qcontent">
    <div class="Qplace">
      {#    <a href="home.html">首页</a> &gt;&gt; <span>政务公开</span> &gt;&gt; <span>工作动态</span> &gt;&gt; <span>厅局动态</span>#}
    </div>
    <div class="Qarticle">

      <div class="Qtitle">
        <h2>{{ data[0].title }}</h2>
        <h2></h2>
        <p>
          {% if data[0].datetime %}
            日期：{{ data[0].datetime }}
          {% endif %}
          &nbsp;&nbsp;&nbsp;&nbsp;稿源：江西省统计局&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
      </div>
      <div class="Qpage" id="contents">
        {{ data[0].content }}
        {% if data[0].file %}
          <div><a href="/static/files/{{ data[0].file }}" download="/static/files/{{ data[0].file }}" style="color: #0c90cc;">点此下载附件</a></div>
        {% endif %}
      </div>
    </div>
    <div class="Qlast">
      <p class="Qlastp fl">
        浏览字号选择:
        <a href="javascript:void(0);" onclick="changeSize(20);">大</a>
        <a class="Qa" href="javascript:void(0);" onclick="changeSize(16);">中</a>
        <a href="javascript:void(0);" onclick="changeSize(12);">小</a>
      </p>
      <ul class="Qlastul fr">
        <li id="Qli1">关闭窗口</li>
        <li id="Qli2">回到顶部</li>
      </ul>
    </div>
  </div>
{% endblock %}