<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1 ">
  <title>江西省统计局-工作动态</title>
  <link href="/static/css/default.css" rel="stylesheet" type="text/css">
  <script src="/static/js/jquery-1.11.3.min.js"></script>

  <script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/assets/prompt.js"></script>
</head>
<body id="maincontainer">
<!-- 头部 -->
<script src="/static/js/lang.js"></script>

<!--<div style="height:215px; background:url(/resource/uploadfile/image/20190930/20190930111619398.jpg) no-repeat center top;"></div>-->


<div class="QScenbox">
  <div class="Qlogo fl"><img src="/static/img/Qlogo.png" alt=""></div>
  <div class="Qsearch fr">
    <input id="ss-k" name="ss-k" type="text" class="fl" value="请输入关键字"
           onfocus="if (value =='请输入关键字'){value =''}this.style.color='#333' "
           onblur="if (value ==''){value='请输入关键字'}this.style.color='#333'"
           onkeyup="javascript:if(event.keyCode==13){siteSearch();}">
    <span class="Qsou fr" onclick="siteSearch()"> </span>
  </div>
</div>
<ul class="Qnav">
  <li class="Qcurrent"><a href="{{ url_for('home') }}" class="Qa1">首页</a></li>
  <li id="zwgk201803120100392355" class=""><a href="{{ url_for('home') }}" class="Qa2">政务公开</a></li>
  <li id="tjsj201803120100294255" class=""><a href="{{ url_for('home') }}" class="Qa3">统计数据</a></li>
  <li id="wsbs201803120100172099" class=""><a href="{{ url_for('home') }}" class="Qa4">网上办事</a></li>
  <li id="hdjl201803120059532727"><a href="{{ url_for('home') }}" class="Qa5">互动交流</a></li>
</ul>
<script>
    function siteSearch() {
        var key = document.getElementById('ss-k').value;
        if (key == '' || key == '请输入关键字') {
            alert('请输入查询条件!');
            return false;
        }
        //alert(key);
        key = encodeURIComponent(key);
        key = key.replace(/%/g, "@");
        location = '/key_' + key + '/search.shtml';
    }

    function gowza() {
        window.open("http://www.jxgtt.gov.cn/Column.shtml?p5=20000274");
    }
</script>
<div class="Qcontent">
  <div class="Qplace">
    <div class="curPlace">
      <a href="home.html">首页</a> &gt;&gt; <a href="/id_zwgk201803120100392355/column.shtml">政务公开</a> &gt;&gt; <a
            href="/id_dtyq201803120108481079/column.shtml">工作动态</a>
    </div>
  </div>
  <div class="Qcolumn">
    <div class="QcolL fl">
      <ul class="listUl">
        <div class="Qli"><a href="javascript:void(0);">工作动态</a></div>

      </ul>
    </div>
    <div class="QcolR fr">
      <ul class="QcolRul">
        {% for i in work %}
          <li><span>{{ i.datetime }}</span><a
                  href="{{ url_for('news', cate='work', data=i.id) }}">{{ i.title[: 30] + '...' }}</a></li>
        {% endfor %}
      </ul>

      <div class="Qtoggle">
        <div class="strong-ui-pager">
          首页 &nbsp;&nbsp;
          上一页 &nbsp;&nbsp;
          <a href="/id_dtyq201803120108481079/page_2/column.shtml">下一页</a> &nbsp;&nbsp;
          <a href="/id_dtyq201803120108481079/page_80/column.shtml">末页</a>&nbsp;
          <span>1/80</span>&nbsp;
          <input id="pager-index" size="2" type="text" onkeypress="javascript:if(event.keyCode==13){pagerGo();}">
          <button type="button" id="pager-go" onclick="pagerGo();">Go</button>
          <script type="text/javascript">
              var curpage = parseInt(1);
              var totalpage = parseInt(80);

              function pagerGo() {
                  var nav = document.getElementById("pager-index").value;
                  nav = Math.round(nav);
                  nav = isNaN(nav) ? 1 : nav;
                  nav = (nav <= 1) ? 1 : nav;
                  nav = (nav >= totalpage) ? totalpage : nav;
                  var url = "/id_dtyq201803120108481079/page_##/column.shtml";
                  location = url.replace("##", nav);
              }
          </script>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- 底部 -->
<div class="Qfooter">
  <!-- 友情链接 -->
  <div class="Qlink">

  </div>
  <!-- 版权 -->
  <div class="QfotBot">

  </div>
</div>
<script src="../static/js/easy.navigat.js"></script>
<script>
    $(function () {
        $('.Qnav li').each(function (i) {
            $(this).hover(function () {
                $(this).addClass('Qcurrent').siblings().removeClass('Qcurrent');
                $('.Qcontent:eq(' + i + ')').removeClass('hide').siblings('.Qcontent').addClass('hide');
            });
        });

        // 头部导航选中
        var Aid = 'dtyq201803120108481079';
        if (Aid != '') {
            $('#' + Aid).addClass('Qcurrent').siblings().removeClass('Qcurrent');
            var index = $('#' + Aid).index();
            $('.Qcontent:eq(' + index + ')').removeClass('hide').siblings('.Qcontent').addClass('hide');
            $('.Qnav li').each(function (i) {
                var navid = $(this).attr('id');
                if (Aid == navid) {
                    $(this).addClass('Qcurrent').siblings().removeClass('Qcurrent');
                }
            });
        }

        $('.guanbi').click(function () {
            $('.weibo').slideUp(300);
        });
    });

</script>
<script type="text/javascript">
    $(function () {


//二级导航栏目定位
        $('.listUl li').each(function (i) {
            var websiteText = $('.curPlace a:last').text();  //获取二级导航位置的字符串
            var subText = $('.listUl li a').eq(i).attr('title');//获取每个li的字符串
            if (subText == websiteText) {
                $('.listUl li').eq(i).addClass('ColumnCur').siblings().removeClass('ColumnCur');
            }
        });

    });

</script>


</body>
</html>